.jumbotron {
    background-color: rgb(50, 207, 29);
    color: black;
    margin-top: 35px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(50, 207, 29);
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn {
    background-color: rgb(32, 35, 212);
    color: white;
}
.card-Receta {
    flex: 1 250px;
    padding: 2px 0px 2px
    0px;
    margin-top: 30px;
}
.btn-reservar {
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;
}

